.kunden-tabelle {
    max-width: fit-content;
    border-radius: 8px;
    /* border-collapse: collapse;
    border: 1px solid black;  */
}


.kunden-tabelle td {
   border-bottom: solid 1.5px black;
}

.kunden-tabelle th{
    border-bottom: solid 3px black;
}

main{
    padding-left: 10px;
}

.kunde-bearbeiten main .spalte form{
    margin-top: 5px;
    margin-bottom: 10px;
}
.kunde-bearbeiten main .spalte div{
    border-bottom: solid 2px black;
    padding-bottom: 2px;
    max-width:400px;
    padding-top: 10px;
}

.text_aus_kundentabelle{
    font-weight: bold;
}