{% extends "base.html" %}

{% block content %}
<body class="kunden">
    <header>
        <a class="left-buttons" href="{{ url_for('zeiterfassung.zeiterfassung_seite') }}">
            <button>Erfassungen ></button>
        </a>
        <h2 class="ZE_ueberschrift">Kunden</h2>
        <a class="right-buttons" href="{{ url_for('rechnungen.rechnungen_seite') }}">
            <button>Rechnungen &gt;</button>
        </a>
    </header>
    <main>
        <form method="POST" action="/kunden">
        <input type="text" name="name" placeholder="Name" required>
        <input type="text" name="strasse" placeholder="Straße">
        <input type="text" name="hausnummer" placeholder="Hausnummer">
        <input type="text" name="plz" placeholder="PLZ">
        <input type="text" name="ort" placeholder="Ort">
        <input type="number" step="0.01" name="stundensatz" placeholder="Stundensatz">
        <input type="text" name="email" placeholder="E-Mail">
        <button type="submit" name="aktion" value="hinzufuegen">Kunde Hinzufügen</button>
        </form>
        <br>
        <hr>
        <table class="kunden-tabelle" cellpadding="5" cellspacing="0">
        <tbody>
            <thead>
            <tr>
                <th>Kundennummer</th>
                <th>Name</th>
                <th>Adresse</th>
                <th>Aktueller Satz</th>
                <th>Mail-Adresse</th>
            </tr>
            </thead>
            {% for kunde in kunden %}
            <tr>
                <td>{{ kunde[0] }}</td>
                <td>{{ kunde[1] }}</td>
                <td>{{ kunde[2] }} {{ kunde[3] }}, {{ kunde[4] }} {{ kunde[5] }}</td>
                <td style="text-align: center;">{{ kunde[6] }} €/h</td>
                <td style="text-align: center;">{{ kunde[7] }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        <hr>  
        <form method="POST" action="/kunden">
        <select name="kunde_id">
            <option value="" disabled selected>
                Bitte Kunden wählen...
            </option>
            <!-- Options mit Kunden-IDs zum Löschen -->
            {% for kunde in kunden %}
            <option value="{{ kunde[0] }}">{{ kunde[1] }} (ID: {{ kunde[0] }})</option>
            {% endfor %}
        </select>
        <button id="kunde_loesche_button" type="submit" name="aktion" value="loeschen">Kunde löschen</button>
        <button type="submit" name="aktion" value="bearbeiten">Kunde bearbeiten</button>
        </form>
    </main>
    <script src="{{ url_for('static', filename='js/kunden.js') }}"></script>
</body>
{% endblock %}