{% extends "base.html" %}

{% block content %}
<body class="zeiterfassung_bearbeiten">
    <header id="erfassung_bearbeiten-header" data-kundennummer="{{ kunde[0]|default(1000) }}">
        <form method="GET" action="/">
            <input type="hidden" name="kunden_id" value="{{ kunde[0] }}">
            <button> &lt; Erfassungen</button>
        </form>
        <a href="{{ url_for('kunden.kunden_seite') }}">
            <button>Kunden</button>
        </a>
        <h2 class="ZE_ueberschrift">ID: <em>{{ zeiterfassungs_id }}</em> für: <em>{{ kunde[1] }}</em> von: <em>{{ zeiterfassung_von }}</em> bis: <em>{{ zeiterfassung_bis }}</em></h2>
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="left">
            <div class="first_row_wraper">
                <table id="kunde-table">
                    <tr><th>Erfassungs-ID:</th><td>{{ zeiterfassungs_id }}</td></tr>
                    <tr><th>Firma:</th><td class="kunde">{{ kunde[1] }}</td></tr>
                    <tr><th>Adresse:</th><td>{{ kunde[2] ~ ' ' ~ kunde[3] ~ ' ' ~ kunde[4] ~ ' ' ~ kunde[5] }}</td></tr>
                    <tr><th>Stundensatz:</th><td>{{ stundensatz }} €</td></tr>
                </table> 
                <form id="std_satz_form" method="POST" action="/zeiterfassung/bearbeiten" class="stundensatz">
                    <label for="zahl">Stundensatz:</label>
                    <input
                        name="new_satz"
                        id="zahl"
                        type="number"
                        step="0.01"
                        min="0"
                        max="1000"
                        value="0.00"
                    /><b>€/h</b>
                    <input type="hidden" name="id" value="{{ zeiterfassungs_id }}">
                    <button type="submit" name="aktion" value="set_satz"><b>aktualisieren &<br>neu berechnen</b></button>
                </form>
            </div>

                    
            <table cellpadding="5" cellspacing="0" id="zeiteintraege-table">
                <thead>
                    <tr>
                        {% for col in columns if col != 'zeiterfassung_id' %}
                        <th>
                            {% if col == 'id' %} ID{% endif %}
                            {% if col == 'datum' %} Datum{% endif %}
                            {% if col == 'startzeit' %} Startzeit{% endif %}
                            {% if col == 'endzeit' %} Endzeit{% endif %}
                            {% if col == 'beschreibung' %} Beschreibung{% endif %}
                            {% if col == 'stunden' %} Stunden{% endif %}
                            {% if col == 'stundensatz' %}Satz{% endif %}
                            {% if col == 'gesamt' %} Gesamt{% endif %}
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr data-id="{{ row['id'] }}">
                        {% for col in columns if col != 'zeiterfassung_id' %}
                        <td>
                            {% if col == 'stundensatz' %}
                                {{ "%.2f"|format(row[col])|replace(".", ",") }} €
                            {% elif col == 'gesamt' %}
                                 {{ "%.2f"|format(row[col])|replace(".", ",") }} €
                            {% elif col == 'stunden' %}
                                {{ row[col]|replace(".", ",") }} h
                            {% elif col == 'startzeit' or col == 'endzeit' %}
                                {{ row[col] }} Uhr
                            {% else %}
                                {{ row[col] }}
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <form class="mular_hinzu" method="POST" action="/zeiterfassung/bearbeiten">
                <input type="hidden" name="id" value="{{ zeiterfassungs_id }}">
                <input type="date" name="datum">
                <input type="time" name="start_zeit">
                <input type="time" name="end_zeit">
                <input type="text" size="60" name="beschreibung"  required>
                <button type="submit" name="aktion" value="neuerEintrag">Eintrag Hinzufügen</button>
            </form>
            <div class="action-button">
                <form id="wegDamit" method="POST" action="/zeiterfassung/bearbeiten">
                    <input type="hidden" name="eintrag_id" id="selectedIdInputLoesche" value="">
                    <input type="hidden" name="id" value="{{ zeiterfassungs_id }}">
                    <button id="editButton" type="submit" name="aktion" value="EintragLöschen">Eintrag Löschen</button>
                </form>
                <form id="RechnungErstellen" method="POST" action="/zeiterfassung/bearbeiten">
                    <input type="hidden" name="id" value="{{ zeiterfassungs_id }}">
                    <button id="editButton" type="submit" name="aktion" value="RechnungVorschau">Vorschau</button>
                </form>
            </div>
        </div>
        <div class="right">
            <div class="right-wraper"> 
                {% if datei_name %}
                    <p>{{datei_name}}</p>
                    <iframe src="{{ url_for('static', filename='pdf/' ~ datei_name) }}" width="100%" height="100%"></iframe>
                    <form method="POST" id="write_invoice" action="/rechnungen">
                        <input type="hidden" name="kunde" value="{{ kunde[0] }}">
                        <input type="hidden" name="erfassungsId" value="{{ zeiterfassungs_id }}">
                        <input type="hidden" name="aktion" value="RechnungSchreiben">
                        <button id="write_invoice_button" type="button">Rechnung schreiben</button>
                    </form>
                {% else %}
                    <p>Kein PDF verfügbar</p>
                {% endif %}

            </div>
        </div>   
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/zeiterfassung_bearbeiten.js') }}"></script>
</body>
{% endblock %}