<!DOCTYPE html>
<html lang="de">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Rechnungsprogramm Zeiterfassung</title>
  </head>
    <body>
        <h1>Rechnungsprogramm Zeiterfassung</h1>
        <form method="POST" action="/zeiterfassung">
            <select name="kunde_ausw_id">
                {% for kunde in kunden %}
                <option value="{{ kunde[0] }}">{{ kunde[1] }} (ID: {{ kunde[0] }})</option>
                {% endfor %}
            </select>
            <button type="submit" name="aktion" value="filtern">Zeiterfassung anzeigen</button>
        </form>

        <br>
        <table border="1" cellpadding="5" cellspacing="0">
            <thead>
                <tr>
                {% for col in columns %}
                    <th>{{ col }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    {% for col in columns %}
                    <td>{{ row[col] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>